body {
    margin: 0px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca    
}

#main {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 40px 0px;
}

.btn {
    padding: 6px 12px;
    background: white;
    font-family: inherit;
    border-radius: 5px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    color: inherit
}

.underline {
    border-bottom: 4px solid rgb(255, 255, 255);
}

#logo {
    width: 200px;
}

.shadow {
    text-shadow: 0px 0px 5px black; 
}