body {
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 200px;
    height: 250px;
}

.card {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-top: 10px solid #d8cefe;
    border-radius: 10px;
}

.border-blue {
    border: 1px dotted blue;
}